img {
    width: 700px;
}
body {
    font-size: 50px;
    text-align: center;
    font-family:'arial';
    background:cadetblue;
    color:rgb(0, 255, 42);
}<body id="special-page 2">
<<<<<<< HEAD
img {
    width: 700px;
}
body {
    font-size: 80px;
    text-align: center;
    font-family:'calibri';
    background:rgb(238, 67, 0);
    color:rgb(4, 0, 255);
=======
>>>>>>> ee68294f82ff1bec8cf1f516ae662723c4ef05e5
